@import "./reset.css";
@import "./root.css";
@import "./carousel.css";
@import "./swiperProposalProduct.css";
@import "./breakPoint.css";
@import url("https://gitcdn.ir/library/PersianFonts/vazir/style.css");

body {
  font-family: "vazir", Vazirmatn, sans-serif;
}

input::placeholder {
  opacity: 0.8 !important;
  color: var(--text-dark-color) !important;
}

.font-vazir {
  font-family: "vazir", Vazirmatn, sans-serif;
}
.bg-main {
  background-color: var(--bg-main-color);
}
.bg-dark-color {
  background-color: var(--bg-dark-color);
}

.bg-card {
  background-color: var(--bg-card-color);
}

.bg-input {
  background-color: var(--bg-input-color);
}

.bg-nav {
  background-color: var(--bg-nav-color);
}
.bg-badge {
  background-color: var(--bg-badge-color);
}
.bg-gradient {
  background: var(--bg-gradient-light-color) !important;
  background: -webkit-linear-gradient(
    to right,
    var(--bg-gradient-dark-color),
    var(--bg-gradient-light-color)
  ) !important;
  background: linear-gradient(
    to right,
    var(--bg-gradient-dark-color),
    var(--bg-gradient-light-color)
  ) !important;
}

.bg-gradient:hover {
  background: var(--bg-gradient-light-color) !important;
  background: -webkit-linear-gradient(
    to left,
    var(--bg-gradient-dark-color),
    var(--bg-gradient-light-color)
  ) !important;
  background: linear-gradient(
    to left,
    var(--bg-gradient-dark-color),
    var(--bg-gradient-light-color)
  ) !important;
}

.text-light-color {
  color: var(--text-light-color);
}

.text-dark-color {
  color: var(--text-dark-color);
}
.text-badge-color {
  color: var(--bg-badge-color);
}

.hover-main-color:hover {
  background-color: var(--hover-color) !important;
  color: #fff !important;
}

.hover-navlink:hover {
  border-color: var(--hover-color) !important;
  color: var(--hover-color) !important;
  opacity: 0.9 !important;
}
.hover-icon:hover {
  color: var(--bg-input-color);
  background-color: var(--text-dark-color);
}
.hover-mainProduct-icon:hover {
  opacity: 1 !important;
}
.hover-mainProduct-icon:hover .tooltip-Icon {
  display: block !important;
}

.hover-scale:hover {
  scale: 1.2;
}
.hover-icon:hover .tooltip-Icon {
  display: block !important;
}

.hover-text:hover {
  color: var(--hover-color);
}
.tooltip-Icon {
  clip-path: polygon(
    0 27%,
    45% 26%,
    59% 0,
    71% 26%,
    100% 26%,
    100% 100%,
    0 100%
  );
  position: absolute;
  background-color: var(--bg-input-color);
  color: var(--text-dark-color);
  top: 105%;
  right: -57% !important;
  width: 4.5rem;
  text-align: center;
  font-size: 0.8em;
  display: none;
  padding: 1.5rem 0 0.7rem 0;
  z-index: 1;
}

.hover-danger:hover {
  color: red !important;
}

.border-nav-color {
  border-color: var(--bg-nav-color) !important;
}
.border-main-color {
  border-color: var(--bg-main-color) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden-page {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 100%;
  transition: all 0.5s;
}

.visible-page {
  left: 0;
}

/* .h-16em {
  height: 16em !important;
} */

.activLink {
  color: var(--hover-color) !important;
}
