@import "./reset.css";
@import url("https://gitcdn.ir/library/PersianFonts/vazir/style.css");

:root {
  --bg-main-color: #f3f4f6;
  --bg-dark-color: #949494;
  --bg-card-color: #fff;
  --bg-input-color: #dfe6e9;
  --bg-nav-color: #b2bec3;
  --bg-badge-color: #ffa551;
  --text-light-color: #4b555f;
  --text-dark-color: #223e57;
  --hover-color: #3183ff;
}

body {
  font-family: "vazir", Vazirmatn, sans-serif;
}

input::placeholder {
  opacity: 0.8 !important;
  color: var(--text-dark-color) !important;
}

.font-vazir {
  font-family: "vazir", Vazirmatn, sans-serif;
}
.bg-main {
  background-color: var(--bg-main-color);
}
.bg-dark-color {
  background-color: var(--bg-dark-color);
}

.bg-card {
  background-color: var(--bg-card-color);
}

.bg-input {
  background-color: var(--bg-input-color);
}

.bg-nav {
  background-color: var(--bg-nav-color);
}
.bg-badge {
  background-color: var(--bg-badge-color);
}

.text-light-color {
  color: var(--text-light-color);
}

.text-dark-color {
  color: var(--text-dark-color);
}

.hover-main-color:hover {
  background-color: var(--hover-color) !important;
  color: #fff !important;
}

.hover-navlink:hover {
  border-color: var(--hover-color) !important;
  opacity: 0.9;
}
.hover-icon:hover {
  color: var(--bg-input-color);
  background-color: var(--text-dark-color);
}

.hover-icon:hover .tooltip-Icon {
  display: block !important;
}
 
.hover-text:hover{
  color: var(--hover-color);
}
.tooltip-Icon {
  clip-path: polygon(
    0 27%,
    45% 26%,
    59% 0,
    71% 26%,
    100% 26%,
    100% 100%,
    0 100%
  );
  position: absolute;
  background-color: var(--bg-input-color);
  color: var(--text-dark-color);
  top: 105%;
  right: -57%;
  width: 4rem;
  text-align: center;
  font-size: 0.8em;
  display: none;
  padding: 1.5rem 0 0.7rem 0;
}

.hover-danger:hover {
  color: red;
}

.border-nav-color {
  border-color: var(--bg-nav-color) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden-menu {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 100%;
  transition: all 0.5s;
}

.visible-menu {
  left: 0;
}
